[submodule "external/imgui"]
	path = external/imgui
	url = https://github.com/ocornut/imgui
	branch = docking
[submodule "external/SFML"]
	path = external/SFML
	url = https://github.com/SFML/SFML
	branch = 2.6.x
[submodule "external/imgui-sfml"]
	path = external/imgui-sfml
	url = https://github.com/SFML/imgui-sfml
	branch = 2.6.x
[submodule "external/expected"]
	path = external/expected
	url = https://github.com/TartanLlama/expected
[submodule "external/optional"]
	path = external/optional
	url = https://github.com/TartanLlama/optional
[submodule "external/json"]
	path = external/json
	url = https://github.com/nlohmann/json
